footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background: var(--primary-color);
  color: #fff;
}
.footer__text {
  line-height: 20px;
  color: #c2bfbfad;
}
.footer__quick-links ul li {
  background: transparent !important;
}
.footer__quick-links ul li a {
  color: #c2bfbfad;
  transition: 0.2s;
}
.footer__quick-links ul li a:hover {
  text-decoration: underline !important;
  margin-left: 10px;
}
.footer__quick-title {
  margin-bottom: 20px;
  font-size: 1.1rem;
}
.footer__contact li span,
.footer__contact li p {
  color: #c2bfbfad;
}
.footer__contact li span {
  font-size: 1.2rem;
}
.footer__contact li p {
  font-size: 0.9rem;
  margin-bottom: 0;
}
.footer__copyright {
  font-size: 0.9rem;
  color: #c2bfbfad;
  margin-top: 50px;
  text-align: center;
}
