tr img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.table__content td span {
    cursor: pointer;
}
.cart__skeleton{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}