.not-found {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: #fff;
  padding: 0 6rem;
}
.not-found > h5 {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  font-weight: bold;
  color: var(--primary-color);
}

.not-found > h1 {
  margin-top: 0.5rem;
  font-size: 3rem;
  line-height: 2.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.not-found-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 768px) {
  .not-found {
    padding: 1rem 0.6rem;
  }
}
