.edit__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
}
.edit__img input {
    display: none;
}
.edit__img label{
    cursor: pointer;
}
.edit__img .img__container{
    width: 220px;
    margin-top: 1rem;
    text-align: center;
    position: relative;
}
.edit__img .img__container img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.profile__picture-loading{
    filter: brightness(0.2);

}
.profile__loading{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 10px;
}
.profile__loading::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    border-bottom: 3px solid transparent;
    border-radius: 50%;
    background-color: transparent;
    animation: loading 0.7s ease infinite;
}

@keyframes loading {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
    
}

.profile input:read-only{
    user-select: none;
    cursor: no-drop;
}